<div class="left-right-content-split" style="background-color: {{ block.settings.background_color }};">
  <div class="image {{ block.settings.media_position }}">
    {{ block.settings.image | img_url: '1000x' | img_tag }}
  </div>
  <div class="text {% if block.settings.media_position == 'left' %}right{% else %}left{% endif %}">
    {% if block.settings.title_image != blank %}
      <div class="left-right-logo-image">
        {{ block.settings.title_image | img_url: '300x' | img_tag }}
      </div>
    {% endif %}
    {% if block.settings.title != blank %}
      <h2 class="subheader">{{ block.settings.title }}</h2>
    {% endif %}
    {% if block.settings.texthtml != blank %}
    <div class="left-right-textblock">
      {{ block.settings.texthtml }}
    </div>
    {% else %}
    <div class="left-right-textblock">
      {{ block.settings.text }}
    </div>
    {% endif %}
  </div>
</div>

<style>
  .left-right-textblock {
    font-weight: {{block.settings.boldness}};
  }
</style>
