<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
  </head>
  <body>
    {{ skip_to_content_link }}

    <header class="banner" data-header role="banner">
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </header>

    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          <header class="main__header" role="banner">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main">
            {{ content_for_layout }}
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
             <script src="https://cdn.shoppinggives.com/cc-utilities/shopify-cart.js?store-id=de271f12-e5bb-40c7-a682-4a7d64f1992d&template-type=1&target-element=.order-summary__section--discount&after=true"></script>
            <style>.sg-widget { border-top: 1px solid rgba(175,175,175,0.34); padding-top: 15px; padding-bottom: 15px}</style>
          </div>
        </aside>
      </div>
    </div>

    {{ tracking_code }}
  {% include 'metrical-ac-library.js' %}
<script src='https://content-shopify-prod.getmetrical.com/js/metrical-shopify.js'> </script>
</body>
</html>

<!-- Start: ShoppingGives Change Commerce Styles -->
<style>
.shoppinggives-tag.contained #sg-main-text .cc-shop-give {
    display: none !important;
}

.shoppinggives-tag.contained #sg-main-text:before {
    content: "Make a purchase. Make a difference.";
    display: block !important;
    font-weight: 700 !important;
    margin-bottom: 4px !important;
}
  
#sg-main-text {
   	font-family: "Gotham",sans-serif !important;
    font-size: 11px !important; 
    font-weight: 300 !important;
    font-style: normal !important;
}
</style>
<!-- End: ShoppingGives Change Commerce Styles -->