{% include 'spurit_po2_section_snippet', product: null, products: collections[section.settings.collection].products %}
{%- assign collection = collections[section.settings.collection] -%}
{%- assign product_count = section.settings.row_count | times: 4 -%}

<section id="collection" class="relative container large-row featured-collection" data-section-id="{{ section.id }}" data-section-type="featured-collection">
  <script type="application/template" data-next-button>
  {% include 'featured-collection-next-button', color: '#000' %}
  </script>
  <script type="application/template" data-prev-button>
  {% include 'featured-collection-previous-button', color: '#000' %}
  </script>
  
  <div class="page-width">
    {% if section.settings.title != blank or section.settings.link_text != blank %}
    <div class="text-center large-row mt-md">
      {% if section.settings.title != blank %}
        <h2 class="heading-lg row">{{ section.settings.title | escape }}</h2>
      {% endif %}

      {% if section.settings.link_text != blank %}
        <div class="row"><a class="text-xxl standard-link" href="{{ collection.url }}">{{ section.settings.link_text | escape }}</a></div>
      {% endif %}
    </div>
    {% endif %}

    <div class="product-carousel-peek">
      <div class="js-featured-collection-slider overflowing-slider grid grid--uniform grid--uniform-row-gutters">
        {% for product in collection.products limit: product_count %}
          {% assign quickbuy_toggle = settings.quickbuy_buttons_toggle %}
          <div class="relative grid__item one-half small-down--one-half">
            <div class="featured-collection--product">
              {% include 'product-block-with-button', quickbuy: quickbuy_toggle %}
            </div>
          </div>

        {% else %}

          {% for i in (1..product_count) %}
            <div class="grid__item one-half small-down--one-half">
              <div class="featured-collection--product">
                <div class="product-block">
                  {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                  <div class="global-border-radius">
                    {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
                  </div>

                  <p>
                    {{ 'homepage.onboarding.product_title' | t }}
                  </p>

                  <p><span class="theme-money">{{ 1999 | money }}</span></p>
                </div>
              </div>
            </div>
          {% endfor %}

        {% endfor %}
      </div>

      {% include 'peek-carousel-advice' %}
    </div>
    <div class="scrollbar">
      <div class="scrollbar-indicator"></div>
    </div>
  </div>
</section>

<style>
  .featured-collection--product { margin-left: 10px; margin-right: 10px; }
</style>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "type": "text",
        "id": "link_text",
        "label": "Link text",
        "default": "Shop now"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      },
      {
        "type": "range",
        "id": "row_count",
        "label": "Rows",
        "min": 1,
        "max": 5,
        "step": 1,
        "default": 1
      }
    ]
  }

{% endschema %}
