{%- assign lowest_variant = product.variants | sort: 'price' | first -%}
<div data-section-id="{{ section.id }}" data-section-type="recently-viewed">
  {% if section.settings.show_recently_viewed %}
    <div class="recently-viewed container row hidden"
        data-handle="{{ product.handle }}"
        data-title="{{ product.title | escape }}"
        data-vendor="{{ product.vendor | escape }}"
        data-image="{{ product.featured_image | img_url: '600x600' }}"
        {% if product.images.size > 1 %}data-image2="{{ product.images[1] | img_url: '600x600' }}"{% endif %}
        data-price-varies="{{ product.price_varies }}"
        data-price-compare="{{ product.compare_at_price }}"
        data-price="{{ product.price }}"
        data-tags="{{ product.tags }}"
        {% if lowest_variant.unit_price_measurement %}
          {%- capture unit_price_base_unit -%}
            {%- if lowest_variant.unit_price_measurement.reference_value != 1 -%}
              {{- lowest_variant.unit_price_measurement.reference_value -}}
            {%- endif -%}
            {{ lowest_variant.unit_price_measurement.reference_unit }}
          {%- endcapture -%}
          data-unit-price-price="{{ lowest_variant.unit_price }}"
          data-unit-price-unit="{{ unit_price_base_unit | escape }}"
        {% endif %}
        data-available="{{ product.available }}"
        data-show-hover-image="{{ settings.hover_image_enabled }}">
      <div class="page-width">
        {% comment %}<h4 class="text-center large-row">{{ 'products.product.recent' | t }}</h4>{% endcomment %}
        <div class="product-carousel-peek">
          <div class="grid"></div>
          {% include 'peek-carousel-advice' %}
        </div>
      </div>
    </div>
  {% endif %}
</div>


{% schema %}
  {
    "name": "Recently viewed products",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_recently_viewed",
        "label": "Show recently viewed products",
        "default": true
      }
    ]
  }
{% endschema %}
